<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>ReviewGenies</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="../vendors/feather/feather.css">
  <link rel="stylesheet" href="../vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="../vendors/ti-icons/css/themify-icons.css">
  <!--  <link rel="stylesheet" href="../vendors/typicons/typicons.css"> -->
  <link rel="stylesheet" href="../vendors/simple-line-icons/css/simple-line-icons.css">
  <!-- <link rel="stylesheet" href="../vendors/css/vendor.bundle.base.css">  -->
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/styleslicer.css">

  <link rel="shortcut icon" href="../images/logoMini.png" />
  <link rel="stylesheet" href="../css/index.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css"
    integrity="sha512-+vQ+jSa1HG6gePn+YmXcXoemUtDTMeEJOM5rs4eS1rClpOnKm2WAZRS/rjWZkSnna1mAMZ8upmOxrJgoUKX9lQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <script src="../jspowerbi/jquery.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.js"
    integrity="sha512-ohTmD3ZT8e0pYlkTa9xbQl04FBCay3cuk2NqWgjNmF8lLv3Wp4s+ME08X6msSoYYaD3qPpH99CFaXNzBA7yI+A=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
  <div class="">

    <!-- partial:partials/_navbar.html -->
    <nav class="navbar default-layout col-lg-2 col-12 p-0 fixed-top d-flex align-items-top flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start position-relative">
        <div>
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-bs-toggle="minimize">
            <span class="mdi mdi-arrow-left "></span>
          </button>


        </div>
        <div class="d-flex justify-content-between mx-3 mx-lg-0">
          <a class="navbar-brand brand-logo" href="/">
            <img src="../images/logofull.svg" alt="logo" />
          </a>
          <a class="navbar-brand brand-logo-mini" href="/">
            <img src="../images/logoMini.png" alt="logo" />
          </a>
        </div>


        <div class="d-flex justify-content-end mx-3 mx-lg-0 menu-humberger">
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center " type="button"
            data-bs-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
          </button>
        </div>
      </div>


    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav px-3">
          <!-- <li class="nav-item nav-category">General</li>
          <li class="nav-item link-active">
            <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
               <i class="mdi mdi-home  menu-icon"></i>
              <span class="menu-title">Market</span>
              <i class="menu-arrow"></i> 
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="#">Dropdown Item</a></li>
                <li class="nav-item"> <a class="nav-link" href="#">Dropdown Item</a></li>
                <li class="nav-item"> <a class="nav-link" href="#">Dropdown Item</a></li>
              </ul>
            </div>
          </li>   -->


          <li class="nav-item">
            <a class="nav-link" href="/dashboard">
              <i class="mdi mdi-grid-large menu-icon"></i>
              <span class="menu-title">Mercado Inmobiliario</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/serietiempo">
              <i class="mdi mdi-desktop-mac  menu-icon"></i>
              <span class="menu-title">Series de Tiempo</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/busquedapropiedad">
              <i class="mdi mdi-clipboard-outline menu-icon"></i>
              <span class="menu-title">Busqueda de Propiedades</span>
            </a>
          </li>
          <div class="my-5"></div>
          <li class="nav-item">
            <a class="nav-link" href="/password">
              <i class=" mdi mdi mdi-settings  menu-icon"></i>
              <span class="menu-title">Cambio Contraseña</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" onclick="exit()">
              <i class=" mdi mdi mdi-exit-to-app  menu-icon"></i>
              <span class="menu-title">Salir</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->

      <div class="main-panel">

        <div class="content-wrapper">
          <div class="container-fluid">
            <div class="row ms-5 form-header">
              <div class="col-lg-10 col-md-10 col-sm-12">
                <div class="row">
                  <div class="col-md-3 col-sm-12">
                    <div class="form-group">
                     <!--  <select class="custom-select" id="tipoAcuerdo">
                        <option value="" selected>Tipo de Acuerdo</option>
                      </select> -->
                      <select id="tipoAcuerdo" class="ui fluid multiple selection dropdown">
                        <option value="" selected>Tipo de Acuerdo</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-12">
                    <div class="form-group">
                      <!-- <select class="custom-select" id="ubicacion">
                        <option value="" selected>Ubicacion</option>
                      </select> -->
                      <select id="ubicacion" class="ui fluid search dropdown" multiple="">
                        <option value="" selected>Ubicacion</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-12">
                    <div class="form-group">
                     <!--  <select class="custom-select" id="tipopropiedad">
                        <option value="" selected>Tipo de Propiedad</option>
                      </select> -->
                      <select id="tipopropiedad" class="ui fluid multiple selection dropdown">
                        <option value="" selected>Tipo de Propiedad</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-12">
                    <div class="form-group">
                     <!--  <select class="custom-select" id="condicion">
                        <option value="" selected>Condición</option>
                      </select> -->
                      <select id="condicion" class="ui fluid multiple selection dropdown">
                        <option value="" selected>Condición</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-12">
                <div class="btn-group">
                  <button type="button" class="btn btn-primary" onclick="filtrar()">Filtrar</button>
                  <button type="button" class="btn btn-info" onclick="limpiar()">Limpiar</button>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="row">
                  <div class="col-md-3 col-sm-12">
                    <div class="form-group">
                      <div class="">
                        <h6>Rango de precio (USD)</h6>
                        <div class="price-input">
                          <div class="field">
                            <span>Min</span>
                            <input type="number" class="ui input input-min" value="2500" id="InputMinUSD">
                          </div>
                          <div class="separator">-</div>
                          <div class="field">
                            <span>Max</span>
                            <input type="number" class="ui input input-max" value="7500" id="InputMaxUSD">
                          </div>
                        </div>
                        <div class="slider">
                          <div class="progress" style="left: 0%; right: 0%;"></div>
                        </div>
                        <div class="range-input">
                          <input type="range" class="range-min" min="0" max="10000" value="2500" step="100" id="MinUSD">
                          <input type="range" class="range-max" min="0" max="10000" value="7500" step="100" id="MaxUSD">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-12">
                    <div class="form-group">
                      <div class="">
                        <h6>m2 de Construcción</h6>
                        <div class="price-input">
                          <div class="field">
                            <span>Min</span>
                            <input type="number" class="ui input input-min" value="2500" id="InputMinm2Construction">
                          </div>
                          <div class="separator">-</div>
                          <div class="field">
                            <span>Max</span>
                            <input type="number" class="ui input input-max" value="7500" id="InputMaxm2Construction">
                          </div>
                        </div>
                        <div class="slider">
                          <div class="progress" id="2" style="left: 0%; right: 0%;"></div>
                        </div>
                        <div class="range-input">
                          <input type="range" class="range-min" min="0" max="10000" value="2500" step="100"
                            id="Minm2Construction">
                          <input type="range" class="range-max" min="0" max="10000" value="7500" step="100"
                            id="Maxm2Construction">
                        </div>
                      </div>
                    </div>
  
                  </div>
                  <div class="col-md-3 col-sm-12">
                    <div class="">
                      <h6>m2 de Solar</h6>
                      <div class="price-input">
                        <div class="field">
                          <span>Min</span>
                          <input type="number" class="ui input input-min" value="2500" id="InputMinm2Plot">
                        </div>
                        <div class="separator">-</div>
                        <div class="field">
                          <span>Max</span>
                          <input type="number" class="ui input input-max" value="7500" id="InputMaxm2Plot">
                        </div>
                      </div>
                      <div class="slider">
                        <div class="progress" id="3" style="left: 0%; right: 0%;"></div>
                      </div>
                      <div class="range-input">
                        <input type="range" class="range-min" min="0" max="10000" value="2500" step="100" id="Minm2Plot">
                        <input type="range" class="range-max" min="0" max="10000" value="7500" step="100" id="Maxm2Plot">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-12">
                    <div class="">
                      <h6>Habitaciones</h6>
                      <div class="price-input">
                        <div class="field">
                          <span>Min</span>
                          <input type="number" class="ui input input-min" value="0" id="InputMinroom">
                        </div>
                        <div class="separator">-</div>
                        <div class="field">
                          <span>Max</span>
                          <input type="number" class="ui input input-max" value="25" id="InputMaxroom">
                        </div>
                      </div>
                      <div class="slider">
                        <div class="progress" id="4" style="left: 0%; right: 0%;"></div>
                      </div>
                      <div class="range-input">
                        <input type="range" class="range-min" min="0" max="25" value="0" id="Minroom">
                        <input type="range" class="range-max" min="0" max="25" value="25" id="Maxroom">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>

          <div class="row" style="height:100%;">
            <section id="report-container" class="embed-container">
            </section>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->

    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- Used to display report embed error messages -->
  <section class="error-container m-5">
  </section>
  </main>
  <footer class="embed-container col-lg-12 col-md-12 col-sm-12 mb-0 mt-4"></footer>
  <script src="./js/off-canvas.js"></script>
  <script src="./js/hoverable-collapse.js"></script>
  <script src="./js/template.js"></script>

  <script src="../jspowerbi/powerbi.min.js"></script>
  <script src="../jspowerbi/powerbi-report-authoring.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>

  <script src="../js/busquedapropiedad.js"></script>

</body>

</html>