<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>ReviewGenies Dashboard</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="../vendors/feather/feather.css">
  <link rel="stylesheet" href="../vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="../vendors/ti-icons/css/themify-icons.css">
<!--   <link rel="stylesheet" href="../vendors/typicons/typicons.css"> -->
  <link rel="stylesheet" href="../vendors/simple-line-icons/css/simple-line-icons.css">
<!--   <link rel="stylesheet" href="../vendors/css/vendor.bundle.base.css"> -->
  <link rel="stylesheet" href="../css/style.css">

  <!-- endinject -->
  <link rel="shortcut icon" href="../images/logomini.svg" />
</head>

<body>

  <div class="authentication-page">
    <div class="row p-0">
      <div class="col-md-6 p-0">
        <div class="logo-bar p-4 px-sm-5">
          <img src="../images/logofull.svg" height="30">
        </div>
        <div class="auth-form-light auth-form text-left py-5 px-5 px-sm-5 mt-5">
          <!-- <form name="MyForm" class="pt-3 px-5" action="/" method="POST"> -->
          <form class="pt-3 px-5">
            <h2 style="color: black;">Bienvenido</h2>
            <p class="fw-light mb-4" style="color: #7c8093;">Por favor, introduzca sus datos.</p>
            
            <div class="form-group">
              <label for="cedula">Correo Electrónico</label>
              <input type="email" placeholder="Correo Electrónico" class="form-control form-control-lg" id="email"
                name="email" required="required">
            </div>

            <div class="form-group">
              <label for="password">Contraseña</label>
              <input type="password" placeholder="Contraseña" class="form-control form-control-lg" id="password"
                name="password">
            </div>


            <div class="text-center">
              <a href="/recover" class="auth-link small" style="color: #7065f0; text-decoration: none;">¿Olvidó su contraseña? Click aquí</a>
            </div>

            <div class="mt-3">
             <!--  <input class="btn btn-block btn-primary w-100  font-weight-medium auth-form-btn" type="submit"
                value="Login" /> -->
              <a id="login" class="btn btn-block btn-primary w-100  font-weight-medium auth-form-btn"  onclick="login()" disabled>Inicar sesión</a>
            </div>


          </form>

        </div>
      </div>

      <div class="col-md-6 p-0">
        <div class="aside-wrapper">
          <div class="card p-3  property-card">
            <!-- <img src="images/video-thumbnail.jpg" class="card-img-top" alt="..."> -->
           <!--  <video controls="true" class="card-img-top" src="https://www.youtube.com/embed/U747IQXEoto"> -->
            <!--  <source src="https://www.youtube.com/embed/U747IQXEoto" type=""> -->
              <!--  <source src="../video/video.ogg" type="video/ogg">
              Your browser does not support HTML video. -->
              <iframe width="420" height="420" class="card-img-top" src="https://www.youtube.com/embed/tx3BZ784D20" title="Street Fighter 6 - Pre-Order Trailer | PS5 Games" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
              
            <!-- </video> -->
            <div class="card-body px-2">
              <div class="d-flex flex justify-content-between align-items-center property-info">
                  <div class="title-tagline">
                      <h4>Bienvenido a nuestro dashboard</h4>

                  </div>

              </div>

              <div class="property-feature">

              </div>

             
           </div>
          </div>

<!--           <div class="mt-5 aside-footer">
            <small class="mb-3 d-block">Powered By <img src="../images/logo-login-mini.png" height="14"></small>
            <small class="small" style="color: #7c8093;">Lorem ipsum dolor sit amet, <a href="#">consectetur adipisicing
                elit</a>, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris. </small>
          </div> -->
        </div>
      </div>
    </div>
  </div>

  <!-- plugins:js -->
  <script src="../vendors/js/vendor.bundle.base.js"></script>
  <script src="../js/login.js"></script>



<!--   <script src="/js/off-canvas.js"></script>
  <script src="/js/hoverable-collapse.js"></script>
  <script src="/jstemplate.js"></script> -->
  <!--   <script src="../js/login.js"></script>
  <script src="/js/jquery.min.js"></script>
 
  <script src="/js/powerbi.min.js"></script> -->
  <!-- End custom js for this page  value="40214587896"-->
</body>

</html>