<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>ReviewGenies Dashboard</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="../public/vendors/feather/feather.css">
  <link rel="stylesheet" href="../public/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="../public/vendors/ti-icons/css/themify-icons.css">
  <!--  <link rel="stylesheet" href="../public/vendors/typicons/typicons.css"> -->
  <link rel="stylesheet" href="../public/vendors/simple-line-icons/css/simple-line-icons.css">
  <!-- <link rel="stylesheet" href="../public/vendors/css/vendor.bundle.base.css">  -->
  <link rel="stylesheet" href="../public/css/style.css">

  <link rel="shortcut icon" href="../public/images/logoMini.svg" />
  <link rel="stylesheet" href="../public/css/index.css">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>

<body>
  <div class="">
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row"
      style="background: #fff;">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start position-relative">
        <div class="d-flex justify-content-between mx-3 mx-lg-0">
          <a class="navbar-brand brand-logo" href="/">
            <img src="../public/images/logofull.svg" alt="logo" />
          </a>
          <a class="navbar-brand brand-logo-mini" href="/">
            <img src="../public/images/logoMini.svg" alt="logo" />
          </a>
        </div>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-top">
        <ul class="navbar-nav ms-auto">
        </ul>
        <a href="/dashboard" style="color: black!important;font-size: xx-large; margin-right: 30px;" class="hover-text">
          <span class="mdi mdi-view-dashboard"></span>
          <span class="tooltip-text" id="left">Dashboard</span>
        </a>
        <a href="#" onclick="exit()"  style="color: black!important;font-size: xx-large;" class="hover-text">
         <!--  Cerrar Sesión -->
          <span class="mdi mdi-exit-to-app"></span>
          <span class="tooltip-text" id="left">Salir</span>
        </a>
      </div>
    </nav>
    <div class="container-fluid page-body-wrapper">
      <div class="main-panel">
        <div class="content-wrapper" style="background: #f4f5f7;">
          <div class="row" style="padding-left: 20px;">
            <div class="col-12">

              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label style="color: black;">Contraseña actual </label>
                    <input type="password" class="form-control" id="oldpassword"
                      placeholder="Introduzca contraseña actual">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label style="color: black;">Contraseña nueva</label>
                    <input type="password" class="form-control" id="newpassword"
                      placeholder="Introduzca contraseña nueva">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label style="color: black;">Repita contraseña nueva</label>
                    <input type="password" class="form-control" id="repeatpassword"
                      placeholder="Introduzca de nuevo la contraseña nueva">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-4">
                  <button id="btnChange" class="btn btn-success" onclick="ChangePassword()" style="background-color: #172d88;">Cambiar</button>
                </div>
              </div>



            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <script src="./public/js/password.js"></script>
</body>

</html>